<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin-style.css">
    <title>Admin</title>
</head>
<body>
    <div class="row">
        <div class="column1">
            <div class="column-text" onclick="show_column8()"><h3>Home</h3></div>
            <div class="column-text" onclick="show_column2()"><h3>Users</h3></div>
            <!-- <div class="column-text" onclick="show_column3()"><h3>Teams</h3></div>
            <div class="column-text" onclick="show_column4()"><h3>Companies</h3></div>
            <div class="column-text" onclick="show_column5()"><h3>Payments</h3></div> -->
            <div class="column-text" onclick="show_column6()"><h3>Projects</h3></div>
            <!-- <div class="column-text" onclick="show_column7()"><h3>Reports</h3></div> -->
        </div>
        <div class="column2">
            <h1>List Of All The Users</h1>
            <div>
                <input type="text"> 
                <button>Search</button>
                <table id="customers">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                    <% for(var i=0; i<user.length; i++){ %>
                        <tr>
                            <td><%= user[i].firstname %> <%= user[i].lastname %></td>
                            <td><%= user[i].email %></td>
                            <td><%= user[i].phone %></td>
                            <td><%= user[i].password %></td>
                            <td> <a href="../delete/<%= user[i]._id%>">Delete</a> </td>
                        
                        </tr>
                    <% } %>
                    <% console.log(user) %>
                </table>
            </div>
        </div>
        <div class="column3">
            <h1>Column 3</h1>
        </div>
        <div class="column4">
            <h1>Column 4</h1>
        </div>
        <div class="column5">
            <h1>Column 5</h1>
        </div>
        <div class="column7">
            <h1>Column 7</h1>
        </div>
        <div class="column8">
            <h1>Welcome To The Admin Panel</h1>
            <h2>This is the Dashboard</h2>
            <div class="block">Total Users : 5</div>
            <div class="block">Total Projects : 11</div>
            <div class="block">Total Tasks : 17</div>
            <div class="big-block">
                <h2 style="color: white;">Sales</h2>
                <table id="sales">
                    <tr>
                        <td>Month</td>
                        <td>Users</td>
                        <td>Projects</td>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td>5</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="column6">
            <h1>List Of Projects</h1>
            <table id="customers">
                <tr>
                    <th>Projects</th>
                </tr>
                <% for(var i=0; i<project.length; i++){ %>
                    <tr>
                        <td><%= project[i].projectName %></td>
              
                    </tr>
                <% } %>

        </div>
        
    </div>
    <script>
        function show_column2(){
            document.getElementsByClassName("column2")[0].style.display = "block";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";

        }
        function show_column3(){
            document.getElementsByClassName("column3")[0].style.display = "block";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";
        }
        function show_column4(){
            document.getElementsByClassName("column4")[0].style.display = "block";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";
        }
        function show_column5(){
            document.getElementsByClassName("column5")[0].style.display = "block";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";
        }
        function show_column6(){
            document.getElementsByClassName("column6")[0].style.display = "block";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";
        }
        function show_column7(){
            document.getElementsByClassName("column7")[0].style.display = "block";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column8")[0].style.display = "none";
        }
        function show_column8(){
            document.getElementsByClassName("column8")[0].style.display = "block";
            document.getElementsByClassName("column6")[0].style.display = "none";
            document.getElementsByClassName("column5")[0].style.display = "none";
            document.getElementsByClassName("column4")[0].style.display = "none";
            document.getElementsByClassName("column2")[0].style.display = "none";
            document.getElementsByClassName("column3")[0].style.display = "none";
            document.getElementsByClassName("column7")[0].style.display = "none";
        }
    </script>
</body>
</html>